html, body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 0 1rem;
}

.ProcHeader {
  margin-top: 2rem;
}

.ProcHeader:Hover {
  cursor: pointer;
  user-select: none;
}

.NavBar {
  height: 65px;
  margin-bottom: 2rem;
}

.Contents {
  flex: 1;
}

#mainlogo {
  margin-top: 5vh;
}

#procSearchBar {
  padding-right: 100px;
}

.StockSearchBar {
  width: 32%;
  margin: auto;
}

#OrdersSearchBar {
  padding-right: 155px;
}

#NewProcSearchBar {
  padding-right: 155px;
}

.hrSearch {
  margin: 20px;
}

.invTitle:Hover {
  cursor: pointer;
  user-select: none;
}

#NewProcAddItemButton {
  margin: auto;
  width: 20%;
}

.modalButton1 {
  margin-right: 5px
}

.modalButton2 {
  margin-left: 5px
}

.modalEditButton {
  margin: 10px 0;
}

.ItemEditButtons {
  width: 40%;
  margin: auto;
}

#deleteButton {
  margin: auto;
  width: 20%;
  margin-top: 1rem;
}

#deleteButton:hover {
  color: rgb(255, 233, 233);
  background-color: #CB240F;
  border-color: #CB240F;
}

.NewProcNumInput {
  padding: 12px;
}

.StockButtons {
  margin-top: 30px;
  padding-top: 20;
  width: 20%;
  margin: auto;
}

.FooterBar {
  height: 65px;
  margin-bottom: 5px;
}

.LoadingPage {
  margin-top: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NotFoundPage {
  margin-top: 25%;
}

.newProcButton {
  margin-bottom: 20px;
}

.NewProcDeleteItemButton {
  padding-left: 50px;
  width: 3rem;
}
