html, body, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.NavBar {
  height: 65px;
}

.content {
  flex: 1 0 auto
}

#procSearch {
  padding-right: 110px;
}

.hrSearch {
  margin: 20px;
}

.modelBox1 {
  margin-right: 5px
}

.modelBox2 {
  margin-left: 5px
}

.modelEditButton {
  margin: 10px 0;
}

.grommet.grommetux-app.NavBar {
  height: 65px;
}
