html, body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 0 1rem;
}

.mainlogo Image {
  margin-bottom: 40px;
}

.ProcHeader {
  margin-top: 2rem;
}

.ProcHeader:Hover {
  cursor: pointer;
  user-select: none;
}

.NavBar {
  height: 65px;
  margin-bottom: 2rem;
}

.Contents {
  flex: 1;
}

#procSearchBar {
  padding-right: 100px;
}

#StockSearchBar {
  padding-right: 155px;
}

#OrdersSearchBar {
  padding-right: 155px;
}

#NewProcSearchBar {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 40%;
}

.hrSearch {
  margin: 20px;
}

.invTitle:Hover {
  cursor: pointer;
  user-select: none;
}

#NewProcAddItemButton {
  margin: auto;
  width: 20%;
}

.modalButton1 {
  margin-right: 5px
}

.modalButton2 {
  margin-left: 5px
}

.modalEditButton {
  margin: 10px 0;
}

.ItemEditButtons {
  width: 40%;
  margin: auto;
}

#deleteButton {
  margin: auto;
  width: 20%;
  margin-top: 1rem;
}

#deleteButton:hover {
  color: rgb(255, 233, 233);
  background-color: #CB240F;
  border-color: #CB240F;
}

.NewProcNumInput {
  padding: 12px;
}

.StockButtons {
  width: 40%;
  margin: auto;
}

.FooterBar {
  height: 65px;
  margin-bottom: 5px;
}

.LoadingPage {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.NotfoundPage {
  margin-top: 20%;
}

.newProcButton {
  width: 20%;
  margin-left: 5vw;
  margin-bottom: 10vh;
}
